@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32 ;
  color: #fff;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand{
  margin-top: -7px;
}
.brand span{
  color: aqua;
}

.menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu .active{
  color: aqua;
}

.menu li {
  list-style: none;
}

.menu a{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover{
background-color: aqua;
color: #191c32 ;
transition: ease-in .8s;
}

.menu-toggle,
.info-content__subtitle{
  display: none;
}



.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

h1{
  font-size: clamp(4vw, 1.5em, 3em);
}

span{
  color: aqua;
}

.download-cv{
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102,231, 200, .69);
}

.download-cv:hover{
  padding: 10px 23px;
  box-shadow: none;
  transition: 1s;
}

.img-main{
  width: 290px;
  height: 370px;
  border: 4px solid aqua;
  margin-left:30px;
}


.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100vw;
  align-items: center;
}

.about img{
  width: 100%;
  height: 620px;
}

.about-info{
  padding: 3em;
}

.about-info h2{
  font-size: 2em;
  color:  #191c32 ;;
}
.about-info p{
  font-size: 1.5em;
  color:  #191c32 ;
  margin-bottom: 1em;
}


.divider{
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 10px;
  margin-bottom: 2.5em;
}

.portfolio{
  width: 100vw;
  background-color: #191c32 ;
  color: #fff;
}

.porfolio-headings{
  width: 100 vw;
  padding: 5em;
}

.porfolio-headings h2{
font-size: 3em;
}

.portfolio .container{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.card{
  width: 300px;
  height: 300px;
  border: 1px solid white;
  color: white;
  margin: 1em;
}


.card-img{
width: 100%;
height: 150px;
background-image: url('../img/pi.jpg');
background-size: cover;
}
.card-img2{
  width: 100%;
  height: 150px;
  background-image: url('../img/supraSports.png');
  background-size: cover;
  }


.card-title{
  padding: 20px;
}

.project-detail-content{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.projects-details{
  width: 70%;
  margin: 0 auto;

}
.projects-details:hover{
  width: 75%;
  margin: 0 auto;
 transition: 1s;
}

.projects-details a{
text-decoration: none;
text-transform: uppercase;
}


.container-contact-padre{
background-color: #191c32;
color: #fff;
}

.contact-headings{
margin-left: 5%;
}

.contact-headings h2{
  font-size: 3em;
  }

.container-contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

.contact-form{
width: 50%;
}

.container-contact img{
  width: 90%;
  height: 600px;
  opacity: 16%;
  position: relative;
  left: 1%;
}

.form{
display: flex;
flex-direction: column;
width: 30vw;
margin-top: 2em;
}

.form input{
 padding: 10px 20px;
 margin-bottom: 1em;
 background: none;
 border-right: #191c32;
 border-bottom: 1px solid #fff;
 color: #fff;
  }

.form textarea{
 padding: 1.5em;
 margin-bottom: 1em;
 background: none;
 border: 1px solid #fff;
 color: #fff;
  
}

.btn-submit{
padding: 10px 20px;
margin: 1em;
border: none;
text-transform: uppercase;
background-color: aqua;
border-radius: 20px;
cursor: pointer;
}
.btn-submit:hover{
  padding: 13px; 
  transition: 1s;
}
  

.divider2{
  border: 4px solid white;
  width: 90%;
  margin-left: 4%;
  position: relative;
  border-radius: 5px;
  top: -55px;
}


.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background: white;
}  

.footer-content h2{
  font-size: 2em;
}

.social-network{
  margin-top: 5vh;
  width: 16vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-network img{
  width: 30px;
  height: 30px;
}
.social-network img:hover{
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 1s;
}

 


/* //////////////////// diseño responsive ////////////////////// */

@media screen and (max-width: 800px) {

  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2b3058;
    z-index: 1;
    transform: translateX(-110%);
    transition: all 1.2s ease-in-out;
  }

  .show-menu {
    transform: translateX(0%);
    transition: all 1.2s ease-in-out;
  }

  .menu li {
    margin: 2em;
  }

  .menu-toggle {
    display: block;
  }

  .fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
    cursor: pointer;
  }

  .menu-toggle .fa-close {
    font-size: 1.7em;
    display: none;
  }
  
.main , .about{
  display: flex;
  flex-direction: column-reverse;
  }

.info-content__p{
  display: none;
}


.img-main{
width: min(70% ,400px);
height: 470px;
margin-bottom: 20px;
}

.info-content__subtitle{
  display: block;
  margin-bottom: 3em;
}

.divider2{
  display: none;
}

.img-contact{
  display: none;
}
 .portfolio .container .card{
 margin-bottom: 6em;
}

.contact-form{
  width: 200wv;
  }

  .container-contact{
display: flex;
text-align: center;
margin-left: -2vw;
  }

  .container-contact  .contact-form{
     width: 90%;
     margin: 0 auto;
      }

  .form-moblie{
    min-width: 86vw;
    margin: 0 auto;
  }

  .btn-submit{
    min-width: 86vw;
    margin: 0 auto;
  }

  .social-network{
    margin-top: 5vh;
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

